.larry {
  background-image: url('http://i.imgur.com/Fl7Cxlj.png?1');
  height: 500px;
  width: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.btn-default {
  color: #333 !important;
background-color: #77BF9D !important;
border-color: #333 !important;
}

.yolo {
  color: purple;
}

body {
  background-color:rgba(255, 255, 0, 0.34) !important;
}
