<script type="text/javascript">
  var global = global || {};
  window.globalkey = "<%= ENV['API_KEY'] %>";
</script>

<header>
  <a href="#"></a>
</header>
<h1>LD- EVERYDAY</h1>
<!-- <h3>A daily quote from the "social assassin"</h3> -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<section>
  <article id="ld-quote-list">
    <!-- semantic div tag.....quotes are appended here-->
  </article>
  <article id="image">
    <img id='larry' src='http://i.imgur.com/Fl7Cxlj.png?1'>
  </article>
</section>

<button class="btn btn-default" id='new-lddaily' type="submit">HI! My Name is,<br>
  <p class='sa'>Larry David</p><br></button>
<div class="background1">

  <div class="background2"></div>
</div>
</table>

<!-- build a method that takes in one argument of api key and return true or false -->
