<header>
  <a href="#"></a>
</header>
<h1>LD- EVERYDAY</h1>
<!-- <h3>A daily quote from the "social assassin"</h3> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<section>
  <article id="ld-quote-list">
<!-- semantic div tag.....quotes are appended here-->
  </article>
  <article id="image">
    <img id= 'larry' src= 'http://i.imgur.com/Fl7Cxlj.png?1'>
  </article>
</section>


<button id='new-lddaily' type="submit" class="btn btn-default">HI! My Name is,<br><p class='sa'>Larry David</p></button>
<div class="background1">

  <div class="background2">

  </div>
</div>
</table>
<!-- <script type="text/template" id='quotes-template'>
<tr>
  <td>
    <%%= quote %>
  </td>
  <td>
    <%%= source %>
  </td>
  <td>
    <%% id %>
  </td>
</tr>
</script> -->




<!-- build a method that takes in one argument of api key and return true or false -->


<!-- <script type="text/javascript" src='scripts/app.js'></script> -->
